* {
    box-sizing: border-box;
}

.header {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2b85ad;
    color: rgb(209, 217, 198);
}

.header_logo_text {
    font-size: 30px;
}

.header_locality {
    letter-spacing: 2px;
    font-size: 26px;
    text-align: center;
}

.header_map-block {
    display: flex;
    max-width: 233px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    justify-content: space-between;
    align-items: center;
}

.modal-triger {
    height: 35px;
    max-width: 35px;
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(img/earth.png);
    background-size: 100%;
    background-position: right;
}

.map-modal {
    z-index: 2;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    max-width: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#map {
    width: 50%;
    height: 70%;
}

.modal_container {
    padding: 20px 0;
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(240, 229, 229, 0.4);
    cursor: default;
    visibility: hidden;
}

.modal_question {
    color: azure;
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 80%;
    width: 100%;
    height: 40px;
}

.modal_accept {
    border: none;
    color: rgb(209, 217, 198);
    border-radius: 10%;
    font-size: 16px;
    max-width: 100px;
    width: 100%;
    height: 30px;
    cursor: pointer;
    background-color: #2b85ad;
    visibility: hidden;
}

.modal_accept:hover {
    background-color: #36a4d3;
}

.modal_accept:active {
    background-color: #2b85ad
}

.modal_accept:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.modal_accept:disabled:hover {
    background-color: gray;
}

.modal_accept:disabled:active {
    background-color: gray;
}

.main {
    height: 100%;
}

.title-block {
    transform: translateX(-10%);
    padding-top: 40px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.weather {
    position: relative;
    margin: auto;
    max-width: 75%;
    padding: 0 10px;
    width: 100%;
    background-color: #2b85ad;
}

.weather_slide {
    position: absolute;
    top: 50%;
    height: 30%;
    width: 30px;
    transform: translateY(-50%);
}

.weather_slide::after {
    content: "<";
}

.weather_slide:first-of-type {
    left: -40px;
}

.weather_slide:last-of-type {
    right: -40px;
}

.weather_slide:last-of-type::after {
    content: ">";
}

.weather_container {
    display: flex;
    align-items: center;
    height: 400px;
    margin: 0 auto;
    overflow-x: scroll;
    width: 100%;
}


.weather_block {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 170px;
    height: 300px;
    font-size: 20px;
    font-weight: 600;
    background-color: lightblue;
    margin-right: 20px;
}

.footer {
    background-color: #2b85ad;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.footer_copyright {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    letter-spacing: 1px;
    font-size: 30px;
}
